<div class="container">
  <h1 class="text-center">Add Pizza : {{ cat }}</h1>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Categorie Pizza :</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="{{ cat }}"
        [(ngModel)]="categorie"
        name="categorie"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">size :</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="size : ex 10 20 ....."
        [(ngModel)]="size"
        name="size"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Taken ? :</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="True Or False"
        [(ngModel)]="taken"
        name="taken"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-5">Submit</button>
  </form>
</div>
