<div class="container">
  <h1 class="text-center mb-5">{{ cat }}</h1>

  <div *ngFor="let pizza of filltredPizza" class="container">
    <div class="row mb-5">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <img
              src="{{ pizza.image }}"
              class="card-img-top"
              alt="Card image cap"
              width="200px"
              height="200px"
            />
            <h5 class="card-title">{{ pizza.title_cat }}</h5>
            <h6 class="card-subtitle text-muted">{{ pizza.title_cat }}</h6>
            <p class="card-text">Size : {{ pizza.size }}</p>
            <p class="card-text">Taken : {{ pizza.taken }}</p>

            <hr />
            <button
              class="card-link btn badge-danger"
              (click)="onDelete(pizza)"
            >
              Delete
            </button>
            <button
              class="card-link btn badge-success"
              [routerLink]="['/editpizza', pizza.id]"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a [routerLink]="['/addpizza', cat]" class="card-link btn btn-dark mb-5"
    >Add Pizza</a
  >
</div>
