.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
}
.w-100{
    width: 100%!important;
    height: 500px;
}
h5 {
    font-family: serif;
    font-size: 65px;
    color: #ffffff;
}
.title{
    background-color: #3a3a3a8c;
    top: 160px;
    height: 116px;
}